__pycache__/*
*/.DS_Store
.DS_Store
.ipynb_checkpoints/*
.git_ignore
*/*/*/*/.metadata.json
*/*/*/.metadata.json
*/*/*/*/*/.metadata.json
tmp_2/*
tmp_1/*
ptt.log
InputFiles/shapefiles/*/*.gplates.xml
InputFiles/platemodels/*
InputFiles/platemodels/*/*
InputFiles/platemodels/*/.metadata.json